<div>


  <div>
    <!-- <div class="header-dialog">
      <div>

      </div>
      <div mat-dialog-close class="icone-close-dialog">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path
            d="M15 9L12 12M12 12L9 15M12 12L15 15M12 12L9 9.00001M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
            stroke="#21222C" stroke-width="2" stroke-linecap="round" />
        </svg>
      </div>
    </div> -->

    <mat-dialog-content class="mat-typography">
      <!-- // Conteudo aqui -->
      <div class="container-principal">
        <div class="icon-confirm"></div>

        <!-- <div class="title">
          ¡Mensaje enviado con éxito!
        </div> -->

        <div class="sub-title">
          No se encontró información para esta consulta.
        </div>
      </div>

    </mat-dialog-content>
  </div>





  <!-- <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn-cancelar">Cancelar ação</button>

    <button mat-button cdkFocusInitial class="btn-enviar">Aprovar e
      enviar</button>
  </mat-dialog-actions> -->
</div>